/* CONTACT COMPONENT */

.backgroundContact{
    background-image: linear-gradient( 68.3deg,  rgba(245,177,97,1) 0.4%, rgb(236, 54, 54)  100.2% );
    
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 3.2em;
    align-items: center;
    position:fixed;
    bottom: 0;
    transition: 0.3s;
    
}

.backgroundContact:hover{
    height: 5.2em;
}

/* CONTACTME COMPONENT */

.backgroundContactMe{
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-wrap: wrap;
}

.backgroundImgContactMe{
    
    object-fit: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -2;
}

.backgroundColorContactMe{
    background: linear-gradient(62deg, rgba(156,20,20,0.7539390756302521) 0%, rgba(215,85,46,0.7511379551820728) 37%, rgba(215,142,46,0.7567401960784313) 76%); 
    height: 100%;
    width: 90%;
    position: fixed;
    object-fit: cover;
    top: 0;
    margin: 0 5vw 0 5vw ;
    z-index: -1;

}

.titleContactMe{
    
    margin-top: 1.55em;
    color: white;
    font-size: 2.7em;
    text-align: center;
}

.contentContactMe{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    
}

.labelContactMe{
    display: flex;
    text-align: start;
    padding: 0.5em 0 0.2em 0;
}

.inputContactMe{
    width: 25em;
    background: linear-gradient(62deg, rgba(255, 123, 83, 0.751) 40%, rgba(218, 139, 37, 0.757) 70%); 
    border-radius: 5px;
    border-color: white;
    color: white;
}
.messageContactMe{
    width: 25em;
    height: 13em;
    background: linear-gradient(62deg, rgba(255, 123, 83, 0.751) 40%, rgba(218, 139, 37, 0.757) 70%); 

    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: white;
}

.sendButtonContactMe{
    width: 5em;
    height: 2em;
    border: solid 1px white;
    border-radius: 20px;
    margin: 0 10em 0 10em;
    background-color: rgb(235, 120, 78);
    color: white;
    transition: 0.2s;
}
.sendButtonContactMe:active{
    background-color: rgb(238, 136, 40);
}

/* EMAILSENDED COMPONENT */

.backgroundEmailSended{
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-wrap: wrap;
}

.backgroundColorEmailSended{
    background: linear-gradient(62deg, rgba(156,20,20,0.7539390756302521) 0%, rgba(215,85,46,0.7511379551820728) 37%, rgba(215,142,46,0.7567401960784313) 76%);    height: 100%;
    
    height: 100%;
    width: 90%;
    position: fixed;
    object-fit: cover;
    top: 0;
    margin: 0 5vw 0 5vw ;
    z-index: -1;
}

.backgroundImgEmailSended{
    object-fit: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -2;
}

.titleEmailSended{
    margin-top: 1.55em;
    color: white;
    font-size: 2.7em;
    text-align: center;
}

.mesaggeEmailSended{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-size: 2em;
    margin: 1em 2em 3em 2em;
}