/* Arreglos nuevos */

.mainContainerProjects{
    display: flex;

    flex-direction: column;
    
}
.imgBackgroundProjects{
    position: fixed;
    top: 0;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
}
/* SHOW SECOND */
.containerShowSecondProjects{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    
    transition: 0.8s;
    animation: fadeIn 0.5s linear;
}

/* ....................................... */

/* --------------------------------------- */


.titleProjects{
    
    text-align: center;
    padding-top: 1.4em;
    font-size: 3em ;
    color: white;
    
}

.titleOfProjects{
    color: white;
    font-size: 1.7em;
    margin-top: 1em;
    text-align: center;
}

.contentProjects{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
    margin-top: 2em;
    font-size: 0.8em;
    
}

.positionImgProjects{
    display: flex;
    align-items: center;
    height: 21em;
}
.imgProjects{
    
    width: 35em;
    height: 18em;

}

.descriptionProjects{
    display: flex;
    align-items: center;
    color: white;
    height: 23em;
    width: 50%;
}
.descriptionProjectsHC{
    display: flex;
    align-items: center;
    color: white;
    height: 23em;
    width: 50%;
}

.titleOfProjectsHC{
    color: white;
    font-size: 1.7em;
    margin-top: 2em;
    text-align: center;
}

.contentProjectsHC{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
    font-size: 0.8em;
}

.titleOfProjectsCP{
    color: white;
    font-size: 1.7em;
    margin-top: 2em;
    text-align: center;
}

.contentProjectsCP{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
    font-size: 0.8em;
    
}

.positionImgProjectsCP{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 23em;
    text-decoration: none;
}

.contectImgProjectsCP{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(0, 0, 0, 0);
    transition: 0.5s;
    cursor: pointer;
}
.contectImgProjectsCP:hover{
    color: white;
    box-shadow: 0 3px 5px white;
    background-color: rgb(29, 3, 44);
}

.descriptionProjectsCP{
    display: flex;
    align-items: center;
    color: white;
    height: 23em;
    width: 50%;
}

.contectImgProjectsCP > a:link{
    border: none;
    background: none;
    font-size: 1em;
    width: 40%;
    color: none;
}

.contectImgProjectsCP > a:hover{
    color: white;
}

@media (max-width: 1100px){
    .contentProjectsCP, .contentProjectsHC{
        flex-direction: column;
        align-items: center;
        margin-bottom: 4em;
        gap: 0em;
    }
    .contentProjects{
        flex-direction: column;
        align-items: center;
        margin-bottom: 4em;
        margin-top: 0;
        gap: 6em;
    }
    .descriptionProjectsHC{
        display: flex;
        align-items: center;
        color: white;
        height: 12em;
        width: 50%;
    }

}

@media (max-width: 940px){
    .contentProjectsCP{
        flex-direction: column;
        align-items: center;
        margin-bottom: 4em;
        gap: 4em;
    }
    .contentProjects{
        flex-direction: column;
        align-items: center;
        margin-bottom: 4em;
        gap: 6em;
    }
    .descriptionProjectsHC{
        display: flex;
        align-items: center;
        color: white;
        height: 12em;
        width: 50%;
    }
    .titleOfProjects{
        color: white;
        font-size: 1.7em;
        margin-top: 3em;
        text-align: center;
    }
    .titleOfProjectsHC{
        color: white;
        font-size: 1.7em;
        margin-top: 3em;
        text-align: center;
    }
    .titleOfProjectsCP{
        color: white;
        font-size: 1.7em;
        margin-top: 2em;
        text-align: center;
    }
}

@media (max-width: 500px){
    .titleProjects{
        text-align: center;
        padding-top: 1.4em;
        font-size: 8vw ;
        color: white;
    }
    .contentProjectsCP{
        flex-direction: column;
        align-items: center;
        margin-bottom: 6em;
        gap: 6em;
    }
    .descriptionProjectsCP{
        display: flex;
        align-items: center;
        color: white;
        height: 23em;
        width: 80%;
    }
    .titleOfProjectsCP{
        color: white;
        font-size: 1.7em;
        margin-top: 2em;
        text-align: center;
    }
    .contentProjects{
        flex-direction: column;
        align-items: center;
        margin-bottom: 6em;
        gap: 9em;
    }
    .positionImgProjects{
        justify-content: center;
    }
    .titleOfProjects{
        color: white;
        font-size: 1.7em;
        margin-top: 3em;
        text-align: center;
    }
    .descriptionProjects{
        display: flex;
        align-items: center;
        color: white;
        height: 23em;
        width: 80%;
    }
    .titleOfProjectsHC{
        color: white;
        font-size: 1.7em;
        margin-top: 3em;
        text-align: center;
    }
    .contentProjectsHC{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        font-size: 0.8em;
    }
    .descriptionProjectsHC{
        display: flex;
        align-items: center;
        color: white;
        height: 12em;
        width: 80%;
    }
    
    .imgProjects{
        width: 90%;
        height: 35vh;
    }
}