/* Arreglos nuevos */

.mainContainerProjects{
    display: flex;

    flex-direction: column;
    
    background-image: url("../helper/imgBackgrounds/background3.gif");
    background-size:cover;
    
}
/* SHOW SECOND */
.containerShowSecondProjects{
    display: flex;
    
    
    transition: 0.8s;
    animation: fadeIn 0.5s linear;
}

/* ....................................... */

/* --------------------------------------- */



.containerShowSecondProjects{
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
}

.titleProjects{
    
    text-align: center;
    padding-top: 1.4em;
    font-size: 3em ;
    color: white;
    
}

.titleOfProjects{
    color: white;
    font-size: 1.7em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.contentProjects{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
    font-size: 0.8em;
    
}

.positionImgProjects{
    display: flex;
    align-items: center;
    height: 23em;
}
.imgProjects{
    
    width: 27em;
    height: 15em;

}

.descriptionProjects{
    display: flex;
    align-items: center;
    color: white;
    height: 23em;
    
}
