.positionNavbar{
    position: sticky;
    top: 0;
    z-index: 2;
}

.containerNavbar{
    /* display */
    display: flex;

    /* Properties */
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, rgba(114,50,242,1) 0%, rgba(34,18,95,1) 27%, rgba(1,1,8,1) 79%);
    box-shadow: 0 4px 10px rgba(114,50,242,1);
    

    /* Sizes */
    height: 3em;
}

/* Elementos del Navbar */

.imgNavbar{
    /* Properties */
    cursor: pointer;

    /* Sizes */
    width: 6em;
    height: 3em;
}

.navegators{
    /* Properties */
    padding: 6px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
    z-index: 5;
    /* Sizes */
    font-size: 1.1em;
    transition: 0.5s;
    
}


.navegators > .active p {
    /* transition: 0.5s; */
    /* border-bottom: solid 1px #05b1d8;
    box-shadow:  0 7px 15px -10px #05b1d8 ; */
    
}
.navegators:hover{
    font-size: 1.4em;
    color: #05b1d8;
    transition: 0.5s;
    border-radius: 20px;
}
.navegators:visited{
    border-radius: 20px;
}

.navegatorPhone{
    display: none;
}

.modalMenuPhone{
    
    display: none;
    
    
    height: 15vh;
    color: white;
    z-index: 5;
    background-color: rgb(22, 0, 56);
    border: 1px solid white;
    flex-direction: column;
    /* Position */
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 4em;
    
    width: 100vw;

    align-self: center;
    align-items: center;
    justify-content: center;

    animation: fadeIn 0.5s;
    
    
}

.modalMenuPhone > .navegators{
    display: flex;
}

@media (max-width: 700px){
    .containerNavbar{
       
    }
    .navegators{
        font-size: 1em;
    }
    
}
@media (max-width: 500px){
    .containerNavbar{
      
    }
    .navegators{
        font-size: 0.5em;
    }
    
}

